/* Navigation */
header {
  background: white;
  color: #005efe;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  align-items:center;
  flex-grow:1;
}
nav p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:100;
  text-transform: uppercase;
  font-size:1.3em !important;
  margin-right: auto;
  margin-left:10px;
  color:rgb(32, 32, 32);
}
nav ul {
  list-style: none;
  display: flex;
  padding:0;
}
nav ul li {
  margin: 0 30px;
}
nav ul li a {
  color: #005efe;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 350;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav ul li a.active {
  color:lightpink;
}
nav ul li a:hover {
  color:lightpink;
}
nav ul li #c-button {
  color: white; 
  background-color: #005efe; 
  border: 1px solid #005efe; 
  border-radius: 50px; 
  padding: 5px 10px; 
  text-decoration: none; 
}
nav ul li #c-button:hover {
  background-color: lightpink; 
  color: white; 
  border-color: lightpink;
}

/* About Me */
.about-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  height:600px;
  margin-left:45px;
}
.left-column {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right:75px;
  margin-left:-30px;
}
.left-column img {
  pointer-events: none;
}
.right-column {
  display: inline-block;
}
.right-column h1 {
  font-size:3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 100;
  letter-spacing: -3px;
  border:1px solid black;
  border-radius:50px;
  display: inline-block;
  padding:10px 25px;
}
#sparkle {
  height:120px;
  width:auto;
  margin-left:-25px;
  margin-bottom:-15px;
  pointer-events: none;
}
.right-column p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  font-weight: 200;
  line-height: 30px;
  margin-top:-15px;
}
#second {
  margin-top:-5px;
}

/* Footer */
.footer {
  background-color: #005efe; 
  color: white; 
  text-align: center;
  margin:0;
  height:10vh;
  position:relative;
  padding-top:1.5%;
  margin-top:3%;
  padding-bottom:3%;
}
.footer-content {
  margin: 0;
}
.footer p {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight:300;
}
.footer ul {
  list-style: none;
  font-weight:200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding:5px;
}
.footer span {
  font-weight: 450;
}

/* Tablet/Mini Computer */
@media (max-width: 740px) {
  nav ul {
    font-size:small;
    gap:10px;
  }
  nav ul li {
    margin: 0 10px; 
  }
  .about-me {
    display: flex;
    flex-direction: column; 
    padding: 30px; 
    height: auto;
    margin-left: 0; 
  }
  .left-column {
    margin-bottom:35px;
    margin-left:0;
  }
  .right-column, .left-column {
    width:100%;
    margin-right:auto;
  }
  .right-column h1 {
    font-size: 2em; 
    letter-spacing: -1px;
  }
  #sparkle {
    height:80px;
    width:auto;
    margin-left:-18px;
    margin-bottom:-13px;
  }
  .right-column p {
    font-size: 16px; 
    line-height: 1.4em; 
  }
  footer {
    height: auto; 
    background-color: #005efe; 
    font-size:small;
  }
  .footer ul {
    text-align: center; 
    padding: 0;
  }
  .footer p {
    font-size: 1.3em;
  }
}
